<div class="container">
<h1>Stupid Coaching</h1>

<p>Ask your coach anything:</p>

<form action="/answer" data-turbo="false" class="input-group mb-3 ">
  <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" type="text" name="question">
  <input class="input-group-text" id="inputGroup-sizing-default" type="submit" value="Ask!">
</form>
</div>
